node_modules
.next
.git
*.md
*.log
*.png
*.jpeg
*.jpg
*.xlsx
*.csv
*.html
deploy.log
rebuild.log
nextjs.log
ngrok.log
ngrok_fresh.log
__tests__
docs
browser-extension
sql
scripts
.env.local
.env.development
